* {
  box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0px;
}

header {
	background-color:rgb(85,85,85);
	padding: 30px;
	text-align: center;
	font-size: 35px;
	color: white;
}

nav {
	float: left;
	width: 100%;
	background:rgb(35,35,35);
	padding-top: 10px;
	padding-left: 20px;
	color: white;
}

nav.left {
	float: left;
	width: 20%;
	background:rgb(35,35,35);
	padding-top: 20px;
	padding-left: 10px;
	color: white;
	overflow: auto;
	display: block;
}

nav.right {
	float: right;
	width: 20%;
	background:rgb(35,35,35);
	padding-top: 20px;
	padding-left: 10px;
	color: white;
	overflow: auto;
}

button {
	width: 95%;
	padding: 10px;
	background:rgb(100,75,90);
}


nav ul {
	list-style-type: none;
	padding-left: 5px;
}

nav ul li {
	display: inline-block;
	padding-right: 10px;
}

ul.bulletlist {
	list-style-type: disc;
	padding-left: 10px;
}

body {
	background-color:rgb(15,15,15);
}

article {
	float: left;
	width: 100%;
	height: 100%;
	background-color: #f1f1f1;
	padding-top: 10px;
	padding-left: 20px;
}

article.body {
	float: left;
	width: 80%;
	height: 450px;
	background-color: #f1f1f1;
}

section:after {
	content: "";
	display: inline;
	clear: both;
}

footer {
	background-color:rgb(85,85,85);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 15px;
	color: white;
}

iframe {
	height: 99%;
	width: 99%;
}

p.head {
	font-size: 20px;
}

p.body {
	font-size: 15px;
}

#version {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

#version th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: middle;
	background-color: #4CAF50;
	color: white;
}

#version td, #version tr, #version th {
	border: 1px solid black;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article, article.body {
    width: 100%;
    height: auto;
  }
}