* {
  box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0px;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
}

.header h1 {
	font-size: 50px;
}

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.leftcolumn {
	float: left;
	width: 75%;
}

.rightcolumn {
	float: left;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;
}

.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

.card {
	border: 2px solid black;
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	padding: 10px;
	text-align: left;
	background: #ddd;
	margin-top: 4px;
}

button {
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
}

button:hover {
	background-color: black;
	color: white;
}

embed {
	width: 100%;
	height: 500px;
	margin: 0;
}

#version {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

#version th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: middle;
	background-color: #4CAF50;
	color: white;
}

#version td, #version tr, #version th {
	border: 1px solid black;
}

#commands {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

#commands th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: middle;
	background-color: #4CAF50;
	color: white;
}

#commands td, #commands tr, #commands th {
	border: 1px solid black;
}

#commandlog {
	border-collapse: collapse;
	width: 100%;
	text-align: left;
}

#commandlog th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: middle;
	background-color: #4CAF50;
	color: white;
}

#commandlog td, #commandlog tr, #commandlog th {
	border: 1px solid black;
}

.table {
	display: table;
}

form.tr, .tr {
	display: table-row;
}

span.td {
	display: table-cell;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}